name: ci
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  check:
    runs-on: macos-latest-xlarge
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: Install tools
        run: |
          go install golang.org/x/tools/cmd/goimports@latest
          go install golang.org/x/tools/cmd/deadcode@latest

      - name: Format Go
        run: test -z "$(goimports -local "$(go list -m)" -l .)"

      - name: Static checks
        run: go vet ./...

      - name: Run tests
        run: go test -v ./...

      - name: Find unreachable functions
        run: deadcode -test ./...
