name: go
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  test:
    runs-on: macos-latest-xlarge

    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25"

      - name: test
        run: go test -v ./...
